@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./_login";
@import "./signup";

main {
    padding: 15px;
}

canvas#mainBoard {
    width: 100%;
    height: 640px;
    background: #153;
}

// This file ends here.