@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./_login";

main {
    padding: 15px;
}

canvas#mainBoard {
    width: 1280px;
    height: 640px;
    background: #153;
}

// This file ends here.