<link rel="stylesheet" href="/stylesheets/style.css">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!--
    you can substitue the span of reauth email for a input with the email and
    include the remember me checkbox
    -->
    <div class="container">
        <div class="card card-container">
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin" method="POST">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="email" id="inputEmail" class="form-control" name="email" placeholder="Email address" required autofocus>
                <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
            </form><!-- /form -->
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">
                <a href="/login/google"><img src="https://img.icons8.com/color/16/000000/google-logo.png">Sign in with Google</a>
            </button>
            <button class="btn btn-lg btn-primary btn-block btn-signin">
               <a href="/login/facebook"> Facebook LOGIN</a>
            </button>
            <button class="btn btn-lg btn-primary btn-block btn-signin">
                <a href="/login/twitter">Twitter LOGIN</a>
            </button>

            <a href="/signup" class="">登録</a>
        </div><!-- /card-container -->
    </div><!-- /container -->

<script src="/javascripts/login.bundle.js"></script>